<!DOCTYPE html>
<html lang="en">
<head>
	<title>GuestoBLOG</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet"  href="/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poiret+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">