<nav>
  <ul>
    <div class="navigation-links">
      <li><a href="/" title="">Home</a></li>
    <li><a href="/new" title=""><i class="fa fa-plus" aria-hidden="true"></i> New</a></li>
    <li><a href="/about" title="">About</a></li>
    <li><a href="/contact" title="">Contact</a></li>
    </div>      
    <div class="heading-title">
      <h1>GuestoBLOG</h1>
    </div>
    <div class="social-links">
    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>
</a></li>
  <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
  </a></li>
   <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
  </a></li>
  <li><a href="/" title=""><i class="fa fa-search" aria-hidden="true"></i>
  </a></li>
    </div>
  </ul>
</nav>