<% include partials/header.ejs%>
<% include partials/navbar.ejs%>
<h1>The page you're looking is not to be found</h1>
<img src="https://media1.giphy.com/media/snEeOh54kCFxe/giphy.gif" alt="">


<% include partials/footer.ejs%>