<% include partials/header.ejs%>
<% include partials/navbar.ejs%>
<div class="clear"></div>
<div class="content">
<% blogs.forEach(function(blog){ %>
	<div class="info-box">
	<div class="info-box-image">
		<img src="<%= blog.image%>">
	</div>
	 <div class="info-box-bottom">
	 	
	 	<h2><%= blog.title %></h2>
	 	<div class="details">
	 	<p class="category"><span >In <a href="#"><%= blog.category %></a></span></p>
	 	<p><span class="created"><%= blog.created. getUTCDate()%>/<%= blog.created. getUTCMonth()%>/<%= blog.created. getUTCFullYear()%></span></p>
	 	<img src="<%= blog.authorImage%>">
	 	<p ><span class="author"><%= blog.author %></span></p>
	 	<div class="urls">
			<a href="<%= blog.twitter%>" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
			<a href="<%= blog.website%>" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
		</div>
	 	</div>
		 <p><span class="body"><%= blog.body.substring(0, 150) %>...</span></p>
		<button><a href="/<%= blog._id %>"> More info</a></button>
		<div class="clear"></div>
		
	</div> 
	</div>
<%});%> 
</div>


<% include partials/footer.ejs%>