 <% include partials/header.ejs%>
 <% include partials/navbar.ejs%>

<div class="new-blog">
	<form action="/" method="POST">
		<label for="blog[title]">Title</label>
		<input type="text" name="blog[title]">

		<label for="blog[author]">Your Name</label>
		<input type="text" name="blog[author]">

		<label for="blog[image]">Blog Image URL</label>
		<input type="text" name="blog[image]" placeholder="hot link you blog picture e.g. https://www.lorem.com/colombo.jpg">

		<label for="blog[authorImage]">Your Profile Image URL</label>
		<input type="text" name="blog[authorImage]" placeholder="hot link you blog picture e.g. https://www.lorem.com/shanil.jpg">

		<label for="blog[website]">Your Website URL:</label>
		<input type="text" name="blog[website]" placeholder="Your Website e.g. https://www.lorem.com">

		<label for="blog[twitter]">Twitter Handle</label>
		<input type="text" name="blog[twitter]" placeholder="e.g. https://www.twitter.com/shanilplusplus">

		<label for="blog[category]">Blog Category</label>
		<select name="blog[category]">
  			<option value="Entertainment">Entertainment</option>
			  <option value="Tutorial">Tutorial</option>
			  <option value="Fitness">Fitness</option>
			  <option value="Other">Other</option>
		</select>

		<label for="blog[body]">Body</label>
		<textarea name="blog[body]"></textarea>
		<input type="submit" name="submit" value='Submit'>
	</form>
</div>



 <% include partials/footer.ejs%>