<% include partials/header.ejs%>
<% include partials/navbar.ejs%>

<div class="blog">
	<h1><%= blog.title %></h1>
	<div class="author-details">
	<p><span class="author">By : <%= blog.author %></span>
	</div>
	<div class="blog-image">
		<img src="<%= blog.image%>">
	</div>
	<div class="blog-info">
	<p class="location" ><%- blog.body %></p>
	<!-- </p><p class="designation"><span ><%= blog.category %></span></p> -->
	<div class="buttons">
	<button class="editButton"><a href="/<%= blog._id %>/edit"> Edit</a></button>
	<form action="/<%= blog._id %>?_method=DELETE" method="POST">
		<button class="deleteButton">Delete</button>
	</form>
	<div class="clear"></div>
	</div>
</div>
</div>



<% include partials/footer.ejs%>