.about {
  background: white;
  margin: 2% auto;
  width: 70%;
  height: 20vh; }
  .about p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 30px; }

body {
  background: #F2F6F9 !important;
  font-family: 'Playfair Display', serif !important; }

.contact {
  width: 65%;
  height: 80vh;
  padding: 2% 10%;
  margin: 15px auto 0 auto;
  background-color: white; }
  .contact form label {
    letter-spacing: 5px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: .8em;
    margin-bottom: 10px; }
  .contact form input {
    width: 100%;
    padding: 2px 10px;
    -webkit-box-shadow: 0 0 1px #2b2b2b;
    box-shadow: 0 0 1px #2b2b2b;
    border: none;
    border-radius: 2px; }
  .contact form textarea {
    width: 100%;
    padding: 2px 10px;
    -webkit-box-shadow: 0 0 1px #2b2b2b;
    box-shadow: 0 0 1px #2b2b2b;
    border-radius: 2px;
    border: none; }
  .contact form button {
    width: 100%;
    background: black;
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    letter-spacing: 5px;
    padding: 5px 0;
    font-weight: 900; }
    .contact form button:hover {
      background-color: black; }

.message-box {
  margin: 5px;
  border: 2px solid #fb1a3e;
  border-radius: 2px; }
  .message-box p {
    margin: 0 0 0 0;
    font-size: .8em;
    letter-spacing: 2px;
    padding: 5px; }

.info-box {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0;
  height: 225px; }
  .info-box .info-box-image {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .info-box .info-box-image img {
      width: 100%;
      height: 100%; }
  .info-box .info-box-bottom {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 1% 1%; }
    .info-box .info-box-bottom h2 {
      font-size: 2.5em !important;
      font-weight: 900;
      letter-spacing: 3px; }
    .info-box .info-box-bottom .details img {
      width: 25px;
      height: 30px;
      border-radius: 100%;
      display: inline-block; }
    .info-box .info-box-bottom .details p {
      display: inline-block;
      padding-right: 10px; }
    .info-box .info-box-bottom .details .urls {
      display: inline-block; }
      .info-box .info-box-bottom .details .urls a {
        color: black; }
  .info-box button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: right;
    margin-right: 10%;
    background: black;
    border: none;
    padding: 4px 10px; }
    .info-box button a {
      color: white; }
      .info-box button a:hover {
        text-decoration: none; }
    .info-box button:hover {
      background: white;
      border: 1px solid black;
      color: black;
      padding: 3px 9px;
      -webkit-transition: all .2s;
      transition: all .2s; }
      .info-box button:hover a {
        color: black;
        -webkit-transition: all .2s;
        transition: all .2s; }

nav {
  width: 100%;
  height: 10vh;
  background-color: #1abc9c;
  border-radius: 2px;
  margin-bottom: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    nav ul .navigation-links {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding-top: 20px;
      width: 35%; }
      nav ul .navigation-links li {
        list-style: none;
        display: inline;
        padding-right: 5%; }
        nav ul .navigation-links li a {
          color: white !important;
          text-decoration: none; }
          nav ul .navigation-links li a:hover {
            color: black !important; }
        nav ul .navigation-links li i {
          font-size: .8em; }
    nav ul .heading-title {
      width: 30%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding-top: 5px; }
      nav ul .heading-title h1 {
        color: white !important;
        font-weight: 900 !important;
        letter-spacing: 5px; }
    nav ul .social-links {
      width: 30%;
      padding-top: 20px;
      float: right; }
      nav ul .social-links li {
        list-style: none;
        display: inline !important;
        padding-right: 5%;
        float: right; }
        nav ul .social-links li a {
          color: white !important;
          text-decoration: none; }
          nav ul .social-links li a:hover {
            color: black !important; }

.clear {
  clear: both; }

.new-blog {
  background: white;
  padding: 2% 5%;
  width: 80%;
  margin: 0 auto; }
  .new-blog label {
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 1.2em; }
  .new-blog input, .new-blog select {
    width: 100%;
    margin: 2px 0;
    padding: 2px 5px;
    border: none;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc; }
    .new-blog input:hover, .new-blog input:focus, .new-blog select:hover, .new-blog select:focus {
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc; }
  .new-blog textarea {
    width: 100%;
    height: 400px;
    border: none;
    padding: 10px 20px;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc; }
    .new-blog textarea:hover, .new-blog textarea:focus {
      -webkit-box-shadow: 0 0 10px #ccc;
      box-shadow: 0 0 10px #ccc; }
  .new-blog input[type="submit"] {
    background: black;
    color: white;
    cursor: pointer;
    padding: 10px 10px;
    letter-spacing: 3px;
    font-weight: 900;
    text-transform: uppercase; }

input:focus,
textarea:focus {
  outline: none; }

.blog {
  background: white;
  padding: 2% 5%; }
  .blog h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 2px; }
  .blog .author-details p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    letter-spacing: -1px;
    font-size: .9em; }
  .blog .author-details .urls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .blog .blog-image {
    width: 30%;
    margin: 0 auto; }
    .blog .blog-image img {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .blog .location {
    margin: 2% 5%; }

.buttons {
  width: 30%;
  margin: 5% auto; }
  .buttons .editButton {
    background: black;
    border: none;
    padding: 5px 20px;
    float: left;
    margin-left: 15%; }
    .buttons .editButton a {
      color: white; }
    .buttons .editButton:hover {
      background: white;
      padding: 4px 19px;
      border: 1px solid black; }
      .buttons .editButton:hover a {
        color: black;
        text-decoration: none;
        -webkit-transition: color  .2s;
        transition: color  .2s; }
  .buttons .deleteButton {
    background: black;
    display: inline-block;
    border: none;
    padding: 5px 15px;
    color: white;
    float: left;
    cursor: pointer;
    margin-left: 25%; }
    .buttons .deleteButton:hover {
      background: white;
      padding: 4px 14px;
      border: 1px solid black;
      color: black;
      text-decoration: none;
      -webkit-transition: color  .2s;
      transition: color  .2s; }
